body {
    background-image: url(wallpaper.png);
    background-repeat: repeat-y;
    width: 1600;
    height: 899;
}

.gameboy {
    position: absolute;
    left: 350px;
    top: 70px;
    z-index: 50;
}

.screen {
    position: absolute;
     top: 120px;
left: 480px;
    z-index: 100;
}

.hats {
    position: absolute;
    top: 150px;
}

.tshirts {
    position: absolute;
    top: 550px;
}

.small {
    position: absolute;
    top: 150px;
    left: 1020px
}

.limited {
    position: absolute;
    top: 550px;
    left: 1020px;
}

.nav {
    position: absolute;
    right: 400px;
    bottom: 110px;
    z-index: 300;
}

/*NAV CODE*/
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 10ms ease-in;
	-moz-transition: opacity 10ms ease-in;
	transition: opacity 10ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background-image: url(menu.png);
    background-size:contain;
    background-repeat: no-repeat;
	
}

.menutext {
    text-align: center;
    font-size: 30pt;
    line-height: 130%;
    
}

.menutext h2 {
    margin: 0px;
    text-align: center;
    font-family: eight-bit madness;
    
}

.menutext li {
    list-style: none;
    font-family: eight-bit madness;

}

.menutext ul {
    padding-left: 0;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}
a:hover {
    color: #bc7325;
}

a:active {
    color: #e59c4e;
}

/*END NAV CODE*/

.keypad {
    position: absolute;
    right: 800px;
    top: 645px;
    z-index: 300;
}

.up {
    position: absolute;
    top: 660px;
    left: 456px;
    z-index: 400;
}

.down {
    position: absolute;
    top: 747px;
    left: 456px;
    z-index: 400;
}

.left {
    position: absolute;
    top: 704px;
    left: 415px;
    z-index: 400;
}

.right {
    position: absolute;
    top: 704px;
    left: 510px;
    z-index: 400;
}

.add {
    position: absolute;
    top: 665px;
    left: 700px;
    z-index: 300;
}